html {
  font-size: 62.5%;
}

@media (min-width: 2560px) {
  html {
    font-size: 83.3%;
  }
}

* {
  margin: 0;
  padding: 0;
}

button,
input {
  outline: none;
  border: none;
}

button:active,
button:focus,
button:focus-visible {
  outline: none;
  box-shadow: none;
  background: none;
  border: none;
  transform: none;
}

@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/Roboto/static/Roboto-Regular.ttf")
}

@font-face {
  font-family: "RobotoSemiBold";
  src: url("../fonts/Roboto/static/Roboto-SemiBold.ttf");
}

@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/Roboto/static/Roboto-Medium.ttf");
}

@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/Roboto/static/Roboto-Bold.ttf");
}

@font-face {
  font-family: 'JostRegular';
  src: url('../fonts/Jost/Jost-Regular.ttf');
}

@font-face {
  font-family: 'JostSemiBold';
  src: url('../fonts/Jost/Jost-SemiBold.ttf');
}

@font-face {
  font-family: 'JostMedium';
  src: url('../fonts/Jost/static/Jost-Medium.ttf');
}

h2 {
  font-size: 3.2rem;
  font-family: 'JostSemiBold';
  color: #3C3E4C;
}

a {
  color: #64677E;
  font-size: 2rem;
}

header {
  background-color: #CFD3EB;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 7.8rem;
  font-family: "RobotoMedium";
  margin-bottom: 5rem;
}

nav {
  display: flex;
  margin: 0 auto;
  width: 128rem;
  justify-content: space-between;
  align-items: center;
}

.logotip {
  width: 10.6rem;
  height: 4.6rem;
}

nav>img {
  width: 3.2rem;
  height: 3.2rem;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}



footer {
    max-width: 100%;
    background: #BEC4E3;
    color: #3C3E4C;
    padding: 4rem 0 2rem;
    font-family: "RobotoRegular";
}

.footer-container {
    margin: 0 auto;
    padding: 0 2rem;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 3rem;
}

.footer-left .footer-logo {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.footer-left .footer-desc {
    max-width: 28rem;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.footer-info,
.footer-contact {
    max-width: 26rem;
}

.footer-info h4,
.footer-contact h4,
.footer-social h4 {
    margin-bottom: 1rem;
    font-size: 1rem;
}

.footer-social{
    margin-top: 1rem;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.footer-bottom {
    text-align: center;
    margin-top: 2.5rem;
    font-size: 1rem;
}