@import url(../css/base.css);

body{
    background-color: #F5F6FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 9.4rem;
}

.title > img {
    width: 5.3rem;
    height: 5.3rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.title > p {
    font-size: 3.6rem;
    font-family: 'JostSemiBold';
    color: #3C3E4C;
}

.create-my-homework {
    margin-top: 10.3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 6.6rem;
}

button {
    font-size: 2.4rem;
    font-family: "RobotoRegular";
    color: #FFF;
    background-color: #636AA3;
    border-radius: 1rem;
    padding: 1.6rem 12.6rem;
    cursor: pointer;
}

.create-my-homework>p {
    font-size: 2.4rem;
    font-family: "RobotoRegular";
    color: #3C3E4C;
}

.my-homework {
    margin-bottom: 16rem;
    margin-top: 6.6rem;
}

.one-homework {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    padding-bottom: 1.4rem;
}

.homework-name {
    font-family: "RobotoRegular";
    font-size: 2rem;
    color: #3C3E4C;
}

.homework-text {
    font-family: "RobotoRegular";
    font-size: 2rem;
    color: #3C3E4C;
}

.homework-deadline {
    font-family: "RobotoRegular";
    font-size: 2rem;
    color: #3C3E4C;
}

.homework-buttons {
    display: flex;
    align-items: center;
}

.homework-download,
.homework-delete {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homework-download:hover,
.homework-delete:hover {
    opacity: 0.7;
}

.homework-download img,
.homework-delete img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.homework-line {
    height: 0.1rem;
    background-color: #3C3E4C;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.upload-file {
    margin-top: 21.6rem;
    margin-bottom: 11.7rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: flex-end;
}


.upload-file-text {
    font-family: "RobotoRegular";
    font-size: 2rem;
    color: #3C3E4C;
}