html {
  font-size: 62.5%;
}

@media (min-width: 256rem) {
  html {
    font-size: 83.3%;
  }
}

* {
  margin: 0;
  padding: 0;
}

button,
input {
  outline: none;
  border: none;
}

button:active,
button:focus,
button:focus-visible {
  outline: none;
  box-shadow: none;
  background: none;
  border: none;
  transform: none;
}

@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/Roboto/static/Roboto-Regular.ttf")
}

@font-face {
  font-family: "RobotoSemiBold";
  src: url("../fonts/Roboto/Roboto-SemiBold.ttf");
}

@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/Roboto/static/Roboto-Medium.ttf");
}

@font-face {
  font-family: 'JostRegular';
  src: url('../fonts/Jost/Jost-Regular.ttf');
}

@font-face {
  font-family: 'JostSemiBold';
  src: url('../fonts/Jost/Jost-SemiBold.ttf');
}

@font-face {
  font-family: 'JostMedium';
  src: url('../fonts/Jost/static/Jost-Medium.ttf');
}

h2 {
  font-size: 3.2rem;
  font-family: 'JostSemiBold';
  color: #3C3E4C;
}

a {
  color: #64677E;
  font-size: 2rem;
}

header {
  background-color: #CFD3EB;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 7.8rem;
  font-family: "RobotoMedium";
  margin-bottom: 5rem;
}

nav {
  display: flex;
  margin: 0 auto;
  width: 128rem;
  justify-content: space-between;
  align-items: center;
}

.logotip {
  width: 10.6rem;
  height: 4.6rem;
}

nav>img {
  width: 3.2rem;
  height: 3.2rem;
}

/* body {
  background-color: #202b8e;
} */

.container {
  max-width: 128rem;
  margin: 0 auto;
  padding: 2rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 60rem;
  height: 51.5rem;
  box-shadow: 26px 25px 75px #E6E7F6;
  border-radius: 2rem;
  margin-bottom: 8rem;
}

.card-head {
  background-color: #BEC4E3;
  height: 7.3rem;
  border-radius: 2rem 2rem 0 0;
  padding-left: 5rem;
  display: flex;
  align-items: center;
}

.card-body {
  background-color: #FFF;
  padding: 3.2rem;
  height: 45.5rem;
  width: 53.5rem;
  border-radius: 0 0 2rem 2rem;
}

.card-body-input {
  display: flex;
  justify-content: space-between;
  gap: 3.2rem;
  margin-bottom: 3.2rem;
}

.card-body-input>input {
  font-size: 2.6rem;
  border: solid 1px #000;
  border-radius: 1rem;
  padding: 1.4rem 0 1.4rem 2rem;
  width: 100%;
}

.card-body-input>button {
  font-size: 2.6rem;
  color: #FFF;
  background-color: #636AA3;
  border-radius: 1rem;
  padding: 1rem 2rem;
  cursor: pointer;
}

.card-body-tasks {
  display: flex;
  flex-direction: column;
  gap: 4.3rem;
  font-size: 2.6rem;
  color: #3C3E4C;
  font-family: "RobotoRegular";
  margin-top: 7rem;
}

.card-body-tasks-task {
  display: flex;
  gap: 1.6rem;

}

.card-body-tasks-task>input {
  appearance: none;
  -webkit-appearance: none;
  width: 3.2rem;
  height: 3.2rem;
  border: 0.1rem solid #3C3E4C;
  border-radius: 25%;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

/* Активное состояние */
.card-body-tasks-task>input:checked {
  background-color: #3C3E4C;
  border-color: #3C3E4C;
}

/* Галочка */
.card-body-tasks-task>input:checked::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1.2rem;
  height: 0.6rem;
  border-left: 3px solid white;
  border-bottom: 3px solid white;
  transform: translate(-50%, -60%) rotate(-45deg);
}

.card-body-tasks-task>input:checked+label {
  text-decoration: line-through;
  color: #9aa0c3;
}

.card-body-calendar-month {
  font-family: "RobotoMedium";
  font-size: 2.4rem;
  color: #3C3E4C;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

.calendar {
  margin: 5rem;
}

.card-calendar-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2.5rem;
  font-family: "RobotoRegular";
  font-size: 2.4rem;
  color: #3C3E4C;

}

.card-calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 2.5rem;
  font-family: "RobotoRegular";
  font-size: 2.4rem;
  color: #3C3E4C;
}

/* .card-calendar-days-after {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
  font-family: "RobotoRegular";
  font-size: 2.4rem;
  color: #636AA3;
} */

.sheduleheader {
  display: flex;
  justify-content: space-between;
}

.sheduleheader>a {
  font-family: "RobotoRegular";
  color: #FFF;
  font-size: 1.6rem;
  background-color: #636AA3;
  border-radius: 1rem;
  padding: 1.6rem 1.6rem;
  cursor: pointer;
}

.data {
  font-family: "RobotoMedium";
  font-size: 1.6rem;
  color: #3C3E4C;
  display: flex;
  align-items: center;
}

.time {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.6rem;
  color: #3C3E4C;
  font-family: "RobotoRegular";
}

.time>img {
  width: 1.7rem;
  height: 1.7rem;
}

.subject {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.6rem;
  color: #3C3E4C;
  font-family: "RobotoRegular";
}

.subject>img {
  width: 1.7rem;
  height: 1.7rem;
}

.classroom {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.6rem;
  color: #3C3E4C;
  font-family: "RobotoRegular";
}

.classroom>img {
  width: 1.7rem;
  height: 1.7rem;
}

.teacher {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.6rem;
  color: #3C3E4C;
  font-family: "RobotoRegular";
}

.teacher>img {
  width: 1.7rem;
  height: 1.7rem;
}

.shedule {
  margin-top: 3.2rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.card-body-notes {
  display: flex;
  align-items: baseline;
  gap: 3.2rem;
}

.card-body-notes-note {
  border: solid 1px #000;
  border-radius: 1rem;
  padding: 1.6rem;
  width: 25.2rem;
}

.title {
  font-family: "RobotoRegular";
  font-size: 2rem;
  color: #3C3E4C;
  margin-bottom: 1rem;
}

.main-text {
  font-family: "RobotoRegular";
  font-size: 1.1rem;
  color: #3C3E4C;
}

.card-body-input-plus {
  font-size: 1.4rem;
  font-family: "RobotoRegular";
  color: #FFF;
  background-color: #636AA3;
  max-width: 12.5rem;
  height: 4rem;
  border-radius: 1rem;
  padding: 1rem 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 3.2rem;
}

.card-body-input-plus>p {
  background-color: #636AA3;
  font-size: 1.4rem;
  font-family: "RobotoRegular";
  color: #FFF;
} 

.card-body-files {
  display: flex;
  gap: 1.6rem;
  flex-wrap: wrap;
}

.onefile {
  border-radius: 1rem;
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
  background-color: #DFE1F1;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  height: 1.6rem;
  padding: 1.6rem;
}

.onefile>p {
  font-size: 1.4rem;
  font-family: "RobotoRegular";
  color: #3C3E4C;
}

.icons {
  max-height: 1.6rem;
  max-width: 1.6rem;
}