@import url(../css/base.css);

body {
    background-color: #F5F6FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 9.4rem;
}

.title>img {
    width: 5.3rem;
    height: 5.3rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.title>p {
    font-size: 3.6rem;
    font-family: 'JostSemiBold';
    color: #3C3E4C;
}

.create-homework {
    display: flex;
    justify-content: space-between;
    gap: 15rem;
}

.one-section>p {
    font-size: 2rem;
    color: #3C3E4C;
    font-family: "RobotoRegular";
    margin-bottom: 2.3rem;
}

.new-homework-input {
    background-color: #ffffff;
    box-shadow: 15px 15px 50px #E6E7F6;
    width: 27.1rem;
    height: 9rem;
    border-radius: 1rem;
    padding: 3rem;
    display: flex;
    margin-right: 6.2rem;
}

.new-homework-input>img {
    width: 3.9rem;
    display: flex;
    align-items: center;
}

.upload-file {
    margin-top: 14.2rem;
    margin-bottom: 4.7rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}


.upload-file-text {
    font-family: "RobotoRegular";
    font-size: 2rem;
    color: #3C3E4C;
}

.upload-file-input {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.upload-file-input>img {
    height: 3rem;
}

.file-input-hidden {
    width: 0.1rem;
    height: 0.1rem;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.upload-file-button {
    font-family: "RobotoRegular";
    font-size: 1.6rem;
    color: #3C3E4C;
    background-color: #FFF;
    border: 0.1rem solid #3C3E4C;
    border-radius: 0.5rem;
    padding: 0.2rem 1.8rem;
    cursor: pointer;
    transition: all 0.2s ease;
    display: inline-block;
}

.upload-file-button:hover {
    background-color: #F0F0F0;
    transform: translateY(-0.1rem);
}

.create-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 13.3rem;

}

.add-task-button {
    font-family: 'RobotoRegular';
    font-size: 2.4rem;
    color: #FFFFFF;
    background-color: #636AA3;
    border: none;
    border-radius: 1rem;
    padding: 1.1rem 3.9rem;
    cursor: pointer;
}

.add-task-button:hover {
    background-color: #4f5691;
}

.add-task-button:active {
    background-color: #3C3E4C;
    transform: scale(1)
}

@media (max-width: 1280px) {

    html {
        font-size: 60%;
    }

    .container {
        max-width: 100rem;
        padding: 0 3rem;
    }

    .title {
        margin-bottom: 7rem;
    }

    .title>p {
        font-size: 3.2rem;
    }

    .create-homework {
        gap: 10rem;
    }

    .one-section>p {
        font-size: 1.8rem;
    }

    .new-homework-input {
        height: 8rem;
        padding: 0 2.5rem;
    }

    .new-homework-input input {
        font-size: 1.7rem;
    }

    .upload-file {
        margin-top: 10rem;
        margin-bottom: 4rem;
    }

    .upload-file-text {
        font-size: 1.8rem;
    }

    .add-task-button {
        font-size: 2.2rem;
        padding: 1.3rem 4rem;
    }
}


@media (max-width: 1024px) {

    html {
        font-size: 58%;
    }

    .container {
        padding: 0 2rem;
    }

    .title {
        margin-bottom: 5rem;
        margin-top: 2rem;
        justify-content: flex-start;
    }

    .title>img {
        position: relative;
        left: auto;
        top: auto;
        transform: none;
        margin-right: 2rem;
        width: 4.5rem;
        height: 4.5rem;
    }

    .title>p {
        font-size: 2.8rem;
        text-align: left;
    }

    .create-homework {
        flex-direction: column;
        gap: 4rem;
    }

    .one-section {
        width: 100%;
    }

    .one-section>p {
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
    }

    .new-homework-input {
        max-width: 50rem;
        height: 7rem;
    }

    .upload-file {
        margin-top: 8rem;
        margin-bottom: 3rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }

    .upload-file-input {
        width: 100%;
        justify-content: flex-start;
    }

    .create-button {
        justify-content: flex-start;
        margin-bottom: 10rem;
    }

    .add-task-button {
        width: 100%;
        max-width: 30rem;
        padding: 1.2rem 0;
    }
}


@media (max-width: 768px) {
    .container {
        padding: 0 1.5rem;
    }

    .title {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 3rem;
        margin-top: 1rem;
    }

    .title>img {
        margin-right: 0;
        margin-bottom: 1rem;
        width: 4rem;
        height: 4rem;
    }

    .title>p {
        font-size: 2.4rem;
        text-align: left;
        width: 100%;
    }

    .create-homework {
        gap: 3rem;
    }

    .one-section>p {
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }

    .new-homework-input {
        height: 6rem;
        padding: 0 2rem;
        min-width: auto;
    }

    .new-homework-input input {
        font-size: 1.6rem;
    }

    .new-homework-input>img {
        width: 3.2rem;
        height: 3.2rem;
    }

    .upload-file {
        margin-top: 6rem;
        margin-bottom: 3rem;
    }

    .upload-file-text {
        font-size: 1.6rem;
    }

    .upload-file-button {
        font-size: 1.4rem;
        padding: 0.7rem 2rem;
    }

    .upload-file-input>img {
        height: 2.5rem;
        width: 2.5rem;
    }

    .create-button {
        margin-bottom: 8rem;
    }

    .add-task-button {
        font-size: 1.8rem;
        padding: 1rem 0;
        max-width: 100%;
    }
}

@media (max-width: 480px) {

    .title {
        display: flex;
        flex-direction: row;
    }

    .title>img {
        width: 3.5rem;
        height: 3.5rem;
    }

    .title>p {
        font-size: 2rem;
    }

    .one-section>p {
        font-size: 1.4rem;
    }

    .new-homework-input {
        height: 5.5rem;
        padding: 0 1.5rem;
    }

    .new-homework-input input {
        font-size: 1.4rem;
    }

    .new-homework-input>img {
        width: 2.8rem;
        height: 2.8rem;
    }

    .upload-file {
        margin-top: 5rem;
    }

    .upload-file-text {
        font-size: 1.4rem;
    }

    .upload-file-button {
        font-size: 1.3rem;
        padding: 0.6rem 1.5rem;
    }

    .add-task-button {
        font-size: 1.6rem;
        padding: 0.9rem 0;
    }
}