@import url(../css/base.css);

body {
    background-color: #F5F6FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 128rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 3rem;
}

.title>img {
    width: 5.3rem;
    height: 5.3rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.week-mont {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 2em;
}

.month {
    font-size: 6.4rem;
    font-family: "RobotoSemiBold";
    color: #3C3E4C;
}

.week {
    font-size: 3.2rem;
    font-family: "RobotoRegular";
    color: #3C3E4C;
}


.main-calendarOneDay {
    display: flex;
    gap: 5rem;
    justify-content: space-between;
    margin-bottom: 10rem;
}

.shedule-calendarOneDay {
    background-color: #FFF;
    border-radius: 2rem;
    padding: 3rem;
    box-shadow: 26px 25px 75px rgba(0, 0, 0, 0.1);
    flex: 2;
    max-width: 60rem;
}

.right-column {
    flex: 1;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.shedule-header {
    display: flex;
    align-items: center;
    gap: 2.8rem;
    margin-bottom: 3rem;
}

.shedule-header>p {
    font-size: 3.2rem;
    font-family: "RobotoRegular";
    color: #3C3E4C;
}

.shedule-header>img {
    width: 3.8rem;
    height: 3.8rem;
}

.onelesson {
    margin-bottom: 4rem;
}

.onelesson:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.day-header {
    display: flex;
    align-items: center;
    gap: 8rem;
    margin-bottom: 2rem;
}

.day-header h3 {
    font-family: 'JostSemiBold';
    font-size: 2.4rem;
    color: #3C3E4C;
}

.day-header .date {
    font-family: "RobotoRegular";
    font-size: 1.8rem;
    color: #636AA3;
}

.time,
.subject,
.classroom,
.teacher {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.6rem;
    color: #3C3E4C;
    font-family: "RobotoRegular";
    margin-bottom: 1rem;
}

.time:last-child,
.subject:last-child,
.classroom:last-child,
.teacher:last-child {
    margin-bottom: 0;
}

.time img,
.subject img,
.classroom img,
.teacher img {
    width: 1.7rem;
    height: 1.7rem;
}

.homeworkblock {
    background-color: #FFF;
    border-radius: 2rem;
    padding: 3rem;
    box-shadow: 26px 25px 75px rgba(0, 0, 0, 0.1);
}

.homework-header {
    display: flex;
    align-items: center;
    gap: 2.8rem;
    margin-bottom: 3rem;
}

.homework-header>p {
    font-size: 3.2rem;
    font-family: "RobotoRegular";
    color: #3C3E4C;
}

.homework-header>img {
    width: 3.8rem;
    height: 3.8rem;
}

.homework-tasks {
    margin-bottom: 3rem;
}

.homework-task {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
    font-family: "RobotoRegular";
    font-size: 1.8rem;
    color: #3C3E4C;
}

.homework-task:last-child {
    margin-bottom: 0;
}


.homework-task>input {
    appearance: none;
    -webkit-appearance: none;
    width: 3.2rem;
    height: 3.2rem;
    border: 0.1rem solid #3C3E4C;
    border-radius: 25%;
    cursor: pointer;
    position: relative;
    flex-shrink: 0;
}

.homework-task>input:checked {
    background-color: #636AA3;
    border-color: #636AA3;
}


.homework-task>input:checked::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1.2rem;
    height: 0.6rem;
    border-left: 0.3rem solid #FFF;
    border-bottom: 0.3rem solid #FFF;
    transform: translate(-50%, -60%) rotate(-45deg);
}

.homework-task>input:checked+label {
    text-decoration: line-through;
    color: #9AA0C3;
}

.add-homework-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    padding: 1.5rem;
    background-color: #636AA3;
    color: #FFF;
    border: none;
    border-radius: 1rem;
    font-family: "RobotoRegular";
    font-size: 1.6rem;
    cursor: pointer;
    transition: background-color 0.2s;
}


.add-homework-btn img {
    width: 2rem;
    height: 2rem;
}

.notesblock {
    background-color: #FFF;
    border-radius: 2rem;
    padding: 3rem;
    box-shadow: 26px 25px 75px rgba(0, 0, 0, 0.1);
}

.notes-header {
    display: flex;
    align-items: center;
    gap: 2.8rem;
    margin-bottom: 3rem;
}

.notes-header>p {
    font-size: 3.2rem;
    font-family: "RobotoRegular";
    color: #3C3E4C;
}

.notes-header>img {
    width: 3.8rem;
    height: 3.8rem;
}

.notes-list {
    margin-bottom: 3rem;
}

.note-task {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
    font-family: "RobotoRegular";
    font-size: 1.8rem;
    color: #3C3E4C;
}

.note-task:last-child {
    margin-bottom: 0;
}

.note-task>input {
    appearance: none;
    -webkit-appearance: none;
    width: 3.2rem;
    height: 3.2rem;
    border: 0.1rem solid #3C3E4C;
    border-radius: 25%;
    cursor: pointer;
    position: relative;
    flex-shrink: 0;
}

.note-task>input:checked {
    background-color: #636AA3;
    border-color: #636AA3;
}

.note-task>input:checked::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1.2rem;
    height: 0.6rem;
    border-left: 0.3rem solid #FFF;
    border-bottom: 0.3rem solid #FFF;
    transform: translate(-50%, -60%) rotate(-45deg);
}

.note-task>input:checked+label {
    text-decoration: line-through;
    color: #9AA0C3;
}

.add-note-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    padding: 1.5rem;
    background-color: #636AA3;
    color: #FFF;
    border-radius: 1rem;
    font-family: "RobotoRegular";
    font-size: 1.6rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.add-note-btn:hover {
    background-color: #4A508F;
}

.add-note-btn img {
    width: 2rem;
    height: 2rem;
}



/* @media (max-width: 1024px) {
    .main-calendarOneDay {
        flex-direction: column;
        gap: 3rem;
    }
    
    .shedule-calendarOneDay,
    .right-column {
        max-width: 100%;
    }
    
    .week-mont {
        align-items: flex-start;
    }
    
    .month {
        font-size: 4.8rem;
    }
    
    .week {
        font-size: 2.4rem;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 1.5rem;
    }
    
    .title {
        margin-bottom: 5rem;
    }
    
    .week-mont {
        margin-top: 5rem;
        margin-bottom: 3rem;
    }
    
    .month {
        font-size: 3.6rem;
    }
    
    .week {
        font-size: 2rem;
    }
    
    .shedule-calendarOneDay,
    .homeworkblock,
    .notesblock {
        padding: 2rem;
    }
    
    .day-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
    
    .footer-container {
        flex-direction: column;
        gap: 3rem;
        padding: 3rem 2rem;
    }
} */