@import url(../css/base.css);

body {
    background-color: #CFD3EB;
}

.error-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sad {
    font-family: "RobotoBold";
    font-size: 12.8rem;
    color: #3C3E4C;
}

.number {
    font-family: "RobotoBold";
    font-size: 40rem;
    color: #3C3E4C;
}

.error-text {
    font-family: "RobotoBold";
    font-size: 6.4rem;
    color: #3C3E4C;
}

@media (max-width: 1280px) {
    html {
        font-size: 60%;
    }
}

@media (max-width: 1024px) {
    html {
        font-size: 58%;
    }

    .number {
        font-size: 30rem;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 56%;
    }

    .sad {
        font-size: 10rem;
    }

    .number {
        font-size: 22rem;
    }

    .error-text {
        font-size: 4.8rem;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 54%;
    }

    .sad {
        font-size: 8rem;
    }

    .number {
        font-size: 16rem;
    }

    .error-text {
        font-size: 3.6rem;
    }
}