@import url(../css/base.css);

body{
    background-color: #CFD3EB;
}

.error-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sad {
    font-family: "RobotoBold";
    font-size: 12.8rem;
    color: #3C3E4C;
}

.number {
    font-family: "RobotoBold";
    font-size: 40rem;
    color: #3C3E4C;
}

.error-text {
    font-family: "RobotoBold";
    font-size: 6.4rem;
    color: #3C3E4C;
}